@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 20px;
}

.tabs {
  --border-color: #e9e7e7;
}

.tab {
  --default-color: #909090;
  --hover-color: #3b3b3b;
  --active-color: #0a0d14;
  --disabled-color: #d2d1d0;
  --badge-color: #ed2b2b;
  --focus-color: #e3e5ec;
}
